body{
    display: flex;
    position: relative;
}
#cart{
    left: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #7e808c;
    width: 200px;
    height: 70%;
    margin-top: 50px;
    margin-right: 30px;
    padding: 30px;
    overflow: auto;


}
#items {
    text-align: start;
}
#items div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
}
#items button{
    margin-left: 10px;
    height: 30px;
    border-radius: 10px;
}
.javascript{
    height: 120px;
    width: 100%;
    background-color:white;
}
.javascript button{
    height: 40px;
    width: 100px;
    font-size: medium;
}
.header{
    background-color: white;
    height: 600px;
    display:flex ;
    padding-left: 25px;
}
.header1{
    background-color: white;
    width: 100%;
    height: 100%;
}
.swiggy{
    background-color: white;
    width: 100%;
    height: 270px;
    padding-top: 40px;
}
.login{
    background-color: white;
    height: 25px;
    width: 80px;
    font-size: 15px;
    color: black;
    font-weight: 700;
    text-align: center;
    border: 0px;
    margin-left: 220px;
    
}
.login:hover{
    background-color: orangered;
}
.signup{
    background-color: black;
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-left: 15px;
}
.hungry{
    background-color: white;
    width: 100%;
    height: 10px;
    padding-top: 50px;
    
}
.hungry1{
    background-color: white;
    height: 50px;
    font-size: 35px;
    color: black;
    font-weight: 700;
    
}
.order{
    background-color: white;
    width: 100%;
    height: 80px;
    padding-top: 40px;

}

.order1{
    background-color: white;
    height: 50px;
    font-size: 30px;
    color: #686b78;
    font-weight: 300;

}
.search{
    background-color: orangered;
    height: 50px;
     width: 85%;
     display: flex;

}
.popular{
    background-color: white;
    width: 100%;
    height: 40px;


}
.popular1{
    height: 20px;
    font-size: 20px;
    color: #a9abb2;
    font-weight: 300;
    padding-top: 20px;
}
.state{
    background-color:white;
    width: 100%;
    height: 70px;


}
.ahmedabad{
    background-color: white;
    color:#686b78;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    border: 0px;
}
.banglore{
    background-color: white;
    color:#93959f;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    border: 0px;


}.chennai{
    background-color: white;
    color:#686b78;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    border: 0px;

}
.delhi{
    background-color: white;
    color:#93959f;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    border: 0px;

}
.gurgaon{
    background-color: white;
    color:#686b78;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    border: 0px;
}
.hyderabad{
    background-color: white;
    color:#93959f;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    border: 0px;

}
.kolkata{
    background-color: white;
    color:#686b78;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    border: 0px;

}
.mumbai{
    background-color: white;
    color:#93959f;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    border: 0px;

}
.pune{
    background-color: white;
    color:#686b78;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    border: 0px;
    line-height: 2;
    letter-spacing: 3px; 

}

.container{
    background-color: black;
    height: 300px;
    display: flex;

}
.container1{
    background-color: black;
    width: 33%;
    text-align: center;
}

.container2{
    background-color: black;
    width: 33%;
    text-align: center;
}


.container3{
    background-color: black;
    width: 33%;
    text-align: center;
}




.containerdown{
    background-color: black;
    height: 150px;
    display: flex;

}
.containerdown1{
    background-color: black;
    width: 33%;
}
.nominimum{
    width: 100%;
    height: 120px;
}
.nominimum1{
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.yourself{
    width: 100%;
    height: 30px;
    padding-top: 15px;
    

}
.yourself1{
    color: #e0cbc1;
    font-size: 16px;
    font-weight: 300;
    text-align: center;


}
.yourself2{
    color: #e0cbc1;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}


.containerdown2{
    background-color: black;
    width: 33%;

}
.liveorder{
    width: 100%;
    height: 120px;
}
.liveorder1{
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.know{
    width: 100%;
    height: 30px;
    padding-top: 15px;
    

}
.know1{
    color: #e0cbc1;
    font-size: 16px;
    font-weight: 300;
    text-align: center;


}
.know2{
    color: #e0cbc1;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

.containerdown3{
    background-color: black;
    width: 33%;

}

.light{
    width: 100%;
    height: 120px;
}
.light1{
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.experience{
    width: 100%;
    height: 30px;
    padding-top: 15px;
    

}
.experience1{
    color: #e0cbc1;
    font-size: 16px;
    font-weight: 300;
    text-align: center;


}
.experience2{
    color: #e0cbc1;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}


.rest{
    background-color: white;
    height: 600px;
    display: flex;

}
.rest1{
    width: 40%;
    background-color: white;
    padding-left: 22px;
}
.pocket{
    height: 100px;
    background-color: white;
    padding-top: 120px;
}
.pocket1{
    font-size: 35px;
    font-weight: 700;
    color: black;

}
.from{
    height: 150px;
    background-color: white;
}
.from1{
    font-size: 20px;
    color: #7e808c;
    font-weight: 300;
}
.google{
    height: 50px;
    background-color: white;
    object-fit: contain;
}

.rest2{
    width: 30%;
    background-color: white;
}
.rest3{
    width: 30%;
    background-color: white;
    

}

.black{
    height: 520px;
    background-color: black;
    display: flex;
    border-bottom: 1px solid #4d4d4d;
}
.black1{
    width: 25%;
    background-color: black;
    padding-left: 30px;
}
.white{
    width: 40px;
    height: 20px;
    color: gray;
    font-weight: 700;
    font-size: 15px;
    padding-top: 100px;
}
.white1{
    width: 89px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
    line-height: 30px;
}

.black2{
    width: 25%;
    background-color: black;
    padding-left: 30px;
}

.white2{
    width: 40px;
    height: 20px;
    color: gray;
    font-weight: 700;
    font-size: 15px;
    padding-top: 100px;
}
.white22{
    width: 106px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
    line-height: 30px;
}





.black3{
    width: 30%;
    background-color: black;
    padding-left: 30px;
}
.white3{
    width: 40px;
    height: 20px;
    color: gray;
    font-weight: 700;
    font-size: 15px;
    padding-top: 100px;
}
.white33{
    width: 277px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
    line-height: 25px;
}

.black4{
    width: 20%;
    background-color: black;
    padding-top: 50px;
}


.deliver{
    height: 520px;
    background-color: black;
}

.black1{
    width: 25%;
    background-color: black;
    padding-left: 30px;
}
.white{
    width: 40px;
    height: 20px;
    color: gray;
    font-weight: 700;
    font-size: 15px;
    padding-top: 100px;
}
.white1{
    width: 89px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
    line-height: 30px;
}

.black2{
    width: 25%;
    background-color: black;
    padding-left: 30px;
}

.white2{
    width: 40px;
    height: 20px;
    color: gray;
    font-weight: 700;
    font-size: 15px;
    padding-top: 100px;
}
.white22{
    width: 106px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
    line-height: 30px;
}





.black3{
    width: 30%;
    background-color: black;
    padding-left: 30px;
}
.white3{
    width: 40px;
    height: 20px;
    color: gray;
    font-weight: 700;
    font-size: 15px;
    padding-top: 100px;
}
.white33{
    width: 277px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-top: 25px;
    line-height: 25px;
}

.black4{
    width: 20%;
    background-color: black;
    padding-top: 50px;
}
.suri{
    width: 70%;
}














































.header2{
    background-color: antiquewhite;
    height: 100%;
}